<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>

    <!-- Correction of a local point cloud -->
    <node name="cloud_optimization" pkg="depth_correction" type="cloud_optimization" output="screen"/>

    <!-- RVIZ -->
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch">
        <arg name="config" value="$(dirname)/../config/local_opt.rviz"/>
    </include>
</launch>
