<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="input" default="cloud"/>
    <arg name="output" default="filtered_cloud"/>
    <node name="cloud_filter" pkg="depth_correction" type="cloud_filter" output="screen">
        <rosparam subst_value="true">
            device: cpu
            max_age: 1.0
            min_depth: 1.0
            max_depth: 15.0
            grid_res: 0.05
        </rosparam>
        <remap from="input" to="$(arg input)"/>
        <remap from="output" to="$(arg output)"/>
    </node>
</launch>
