<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="dataset" default="asl_laser/eth"/>
    <arg name="device" default="cpu"/>

    <!-- Robot data: from ASL dataset -->
    <include file="$(dirname)/robot_data.launch">
        <arg name="dataset" value="$(arg dataset)"/>
    </include>

    <!-- Depth correction -->
    <include file="$(dirname)/depth_correction.launch">
        <arg name="input" value="cloud"/>
        <arg name="device" value="$(arg device)"/>
    </include>

    <!-- RVIZ -->
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch"/>
</launch>
