<?xml version="1.0" encoding="UTF-8" ?><!-- ROSBAG -->
<launch>
    <arg name="input" default="assembled_cloud"/>
    <arg name="output" default="corrected_cloud"/>
    <arg name="model_class" default="ScaledPolynomial" doc="Class name from module depth_correction.model."/>
    <arg name="model_state_dict" default="" doc="Path to the model state dict."/>
    <node name="depth_correction" pkg="depth_correction" type="depth_correction" output="screen">
        <rosparam subst_value="true">
            max_age: 1.0
            model:
                class: $(arg model_class)
                state_dict: '$(arg model_state_dict)'
        </rosparam>
        <remap from="input" to="$(arg input)"/>
        <remap from="output" to="$(arg output)"/>
    </node>
</launch>
