<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="input" default="filtered_cloud" doc="Input cloud topic."/>
    <arg name="output" default="corrected_cloud" doc="Output corrected cloud topic."/>
    <arg name="model_weights" default="/home/ruslan/workspaces/depthcorr_ws/src/DeepDepthDenoising/weights/ddd"
         doc="Path to the model weights."/>
    <arg name="device" default="cpu" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="required" default="true"/>

    <node name="depth_denoising" pkg="depth_correction" type="depth_denoising" output="screen"
          required="$(arg required)">
        <rosparam subst_value="true">
            model_weights: $(arg model_weights)
            device: $(arg device)
            max_age: 2.0
        </rosparam>
        <remap from="input" to="$(arg input)"/>
        <remap from="output" to="$(arg output)"/>
    </node>
</launch>
