<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="config" default="''"/>
    <arg name="rviz" default="true"/>
    <arg name="bag" default="$(dirname)/../data/bags/leica_ouster/big_board/8m/depth_correction_2023-02-06-16-15-50.bag"/>
<!--    <arg name="bag" default="$(dirname)/../data/bags/leica_ouster/big_board/8m/depth_correction_black_board_2023-02-06-16-46-40.bag"/>-->
    <!-- Cloud filter -->
    <arg name="min_depth" default="1.0"/>
    <arg name="max_depth" default="25.0"/>
    <arg name="grid_res" default="0.2"/>
    <!-- Bag recording -->
    <arg name="record" default="false"/>
    <arg name="recorded_bag" default=""/>

    <!-- Robot data: from bag file -->
    <param name="use_sim_time" value="true"/>
    <node name="rosbag_play" pkg="rosbag" type="play" args="--start 25.0 --rate 2.0 $(arg bag)">
        <remap from="ouster/points" to="cloud"/>
    </node>

    <!-- Leica data postprocessing -->
    <node pkg="depth_correction" type="leica_ouster_postproc_big_board" name="leica_ouster_postproc_big_board" output="screen">
        <remap from="cloud" to="cloud"/>
        <remap from="crystal_points" to="total_station_driver/ts_points"/>
    </node>

    <!-- RVIZ -->
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch">
        <arg name="config" value="$(dirname)/../config/leica_ouster.rviz"/>
    </include>
</launch>
