<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="model" default="ScaledPolynomial"/>
    <arg name="loss_fun" default="min_eigval_loss"/>

    <!-- ROSBAG -->
    <node name="local_optimization" pkg="depth_correction" type="local_optimization" output="screen">
        <rosparam subst_value="true">
            device: cpu
            model: $(arg model)
            loss_fun: $(arg loss_fun)
            n_pts: 16000
            r_nn: 0.2
            lr: 0.001
        </rosparam>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/local_opt.rviz"/>
</launch>
