<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true"/>

    <!-- ROSBAG -->
    <node name="local_optimization" pkg="depth_correction" type="local_optimization.py" output="screen"/>

    <!-- RVIZ -->
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch"/>
</launch>
