<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="rviz" default="true" doc="Whether to run RViz or not"/>
    <arg name="model" default="ScaledPolynomial" doc="Depth correction model to use"/>
    <arg name="loss_fun" default="min_eigval_loss" doc="One of ['trace_loss', 'min_eigval_loss']"/>
    <arg name="backprop" default="true" doc="If to run backward pass or use just the base model"/>
    <arg name="env_type" default="angle" doc="Simulated environment type: 'angle' or mesh name
                                                       stored in 'depth_correction/data/meshes/' folder"/>

    <node name="optimization" pkg="depth_correction" type="optimization" output="screen">
        <rosparam subst_value="true">
            device: cpu
            model: $(arg model)
            loss_fun: $(arg loss_fun)
            n_pts: 10000
            n_vps: 4
            r_nn: 0.2
            lr: 0.001
            backprop: $(arg backprop)
            env_type: $(arg env_type)
            env_size: 10
            angle_degrees: 0.0
            pts_sampled_from_mesh: 10000000
            p0_disturb: -0.03
            p1_disturb: 0.0
            monotonous_model: true
            plots: true
            visualize_clouds: false
        </rosparam>
    </node>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/local_opt.rviz"/>
</launch>
