<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="data_path" default="/home/ruslan/data/data/python"
         doc="Path do data pkg: https://github.com/tpet/data"/>
    <arg name="rviz" default="true"/>

    <!-- Robot data: from ASL dataset -->
    <include file="$(dirname)/robot_data.launch">
        <env name="PYTHONPATH" value="$(optenv PYTHONPATH):$(arg data_path)"/>
        <arg name="period" default="2.0"/>
    </include>

    <!-- Depth correction -->
    <include file="$(dirname)/depth_correction.launch">
        <arg name="input" value="cloud"/>
    </include>

    <!-- RVIZ -->
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch"/>
</launch>
