<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="dataset" default="asl_laser/eth" doc="Dataset and sequence name."/>
    <arg name="dataset_path" default="" doc="Override for dataset path, optional."/>
    <arg name="dataset_poses_path" default="" doc="Override for dataset poses path, optional."/>
    <arg name="start" default="0" doc="Start position within dataset."/>
    <arg name="stop" default="1000"/>
    <arg name="step" default="1" doc="Position step, step=1 means no position is skipped."/>
    <arg name="period" default="1.0"/>
    <arg name="delay_start" default="1.0"/>
    <arg name="delay_end" default="5.0"/>
    <arg name="cloud" default="cloud"/>
    <arg name="lidar_frame" default="lidar"/>
    <arg name="odom_frame" default="odom" doc="Odometry frame, leave empty for no odometry."/>
    <!--
    <arg name="odom_cov" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"
         doc="Odometry covariance diagonal, Euler angles and translation variances."/>
    -->
    <arg name="odom_cov" default="[0.0001, 0.0001, 0.0001, 0.0025, 0.0025, 0.0025]"
         doc="Odometry covariance diagonal, Euler angles and translation variances."/>
    <arg name="slam_eval_csv" default="slam_eval.csv"/>
    <arg name="slam_poses_csv" default="slam_poses.csv"/>
    <arg name="required" default="true"/>
    <arg name="rviz" default="false"/>

    <node name="robot_data" pkg="depth_correction" type="robot_data"
          output="screen" required="$(arg required)">
        <rosparam subst_value="true">
            dataset: '$(arg dataset)'
            dataset_path: '$(arg dataset_path)'
            dataset_poses_path: '$(arg dataset_poses_path)'
            start: $(arg start)
            stop: $(arg stop)
            step: $(arg step)
            period: $(arg period)
            delay_start: $(arg delay_start)
            delay_end: $(arg delay_end)
            timeout: 10.0
            lidar_frame: '$(arg lidar_frame)'
            odom_frame: '$(arg odom_frame)'
            odom:
                source: ground_truth
                cov: $(arg odom_cov)
            gt_frames: ['gt/map', 'gt/$(arg lidar_frame)']
            eval_frames: ['map', '$(arg lidar_frame)']
            slam_eval_csv: $(arg slam_eval_csv)
            slam_poses_csv: $(arg slam_poses_csv)
        </rosparam>
        <remap from="cloud" to="$(arg cloud)"/>
    </node>

    <include if="$(arg rviz)" file="$(dirname)/rviz.launch"/>
</launch>
