<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="cloud" default="cloud"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="map_frame" default="map"/>
	<node name="dynamic_mapper" type="dynamic_mapper" pkg="ethzasl_icp_mapper" output="screen">
		<rosparam subst_value="true">
            subscribe_scan: false
            icpConfig: $(dirname)/../config/slam/icp.yaml
            inputFiltersConfig: $(dirname)/../config/slam/input_filters.yaml
            mapPostFiltersConfig: $(dirname)/../config/slam/map_post_filters.yaml
            odom_frame: $(arg odom_frame)
            map_frame: $(arg map_frame)
            useROSLogger: true
            minOverlap: 0.2
            maxOverlapToMerge: 1.0
            minReadingPointCount: 500
            minMapPointCount: 500
            localizing: true
            mapping: true
            tfRefreshPeriod: 0.0
            <!-- Parameters for dynamic elements -->
            priorStatic: 0.7
            priorDyn: 0.3
            maxAngle: 0.02
            eps_a: 0.1  <!--1 deg = 0.017rad-->
            eps_d: 0.1
            alpha: 0.99
            beta: 0.90
            maxDyn: 0.5
            maxDistNewPoint: 0.07
            sensorMaxRange: 100.0
        </rosparam>

        <remap from="cloud_in" to="$(arg cloud)"/>
	</node>
</launch>
