<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cpu"/>
    <arg name="rviz" default="false"/>

    <node name="train_demo" pkg="depth_correction" type="train_demo" output="screen">
        <rosparam subst_value="true">
            device: $(arg device)
        </rosparam>
    </node>
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(dirname)/../config/train_demo.rviz"/>
</launch>
